
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #e8e8e8;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  padding-top: 100px;
  padding-left: 20px;
}

.indicator {
  position: fixed;
  width: 100px;
  right: 0;
  text-align: right;
}

canvas {
  /* position: absolute; */
  /* border: 1px solid white; */
  background-color: white;
  margin-bottom: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAASCAYAAAAzI3woAAAAAXNSR0IArs4c6QAAAKFJREFUSEvVlV0OgCAMg+UW3P90u4VmJCS44Oh+NOirrP1S7CxHwkNEJ8vUWktULiQgQTLAXEAr49V7LUUTkNXIep5BISCP8JiCZV4FsgghHzOiNwVCBhGApzOa/g3obRAJOPNrQF+DaGCFYTIWWuQK+yyz7JeQt55Zichfzt4tQ1oQSQYpz782dTQxJBHpASVkBfOAdA8X0Lg3xpZEQLrmBW2qi8o7oh63AAAAAElFTkSuQmCC);
  --m: 2;
  --w: 36px;
  --h: 18px;
  background-repeat: repeat 0 0;
  background-size: calc(var(--w) * var(--m)) calc(var(--h) * var(--m)) !important; 
  image-rendering: pixelated;

}

.d-none {
  display: none;
}

.layers {
  width: 100%;
  max-width: 700px;
}

textarea {
  font-family: sans-serif;
  width: 100%;
  max-width: 700px;
  margin: 10px 0 0 0;
  background-color: white;
  font-size: 12px;
  color: #2f0244;
  overflow-wrap: break-word;
  height: 20px;
  overflow-y: scroll;
  border: 0px;
}

.stamp {
  position: absolute;
  top: 0;
  left: 0;
  --w: 36px;
  --h: 36px;
  --m: 2;
  width: calc(var(--w) * var(--m));
  height: calc(var(--h) * var(--m));
  opacity: 0.5;
  /* border: 1px solid hotpink; */
  background-color: hotpink;
  pointer-events: none;
}

.stamp img {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.stamp.erase-mode img {
  opacity: 0;
}

.stamp::after {
  position: absolute;
  top: -20px;
  left: 0;
  content: attr(data-coord);
  color: hotpink;
}

/* .palette {
  border: 1px solid hotpink;
} */

.palette > img {
  margin: 4px;
  border: 1px solid white;
  cursor: pointer;
}

.palette > img:hover {
  border: 1px solid hotpink;
}

input {
  background-color: white;
  color: black;
  border: 0;
  height: 20px;
}

.input-wrap {
  margin-right: 5px;
}

.input-wrap label {
  border: 0;
  font-size: 10px;
  height: 11px;
  padding: 0;
  margin: -1px 0 1px 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.input-wrap label:hover {
  background-color: transparent;
  color: white;
}

.input {
  width: 80px;
  padding: 9.5px 10px;
}

.input.no {
  width: 50px;
}

nav {
  position: fixed;
  top:0;
  width: 100%;
  /* border: 1px solid hotpink; */
  display: flex;
  align-items: center;
  padding: 0 16px;
}

label,
button{
  margin: 5px;
}

label:hover,
button:hover {
  background-color: white;
  color: black;
}

label.icon,
button.icon {
  height: 36px;
  width: 36px;
  /* background-repeat: no-repeat, repeat;
  background-size: cover;  */
  border: 2px solid transparent;
  /* border: 2px solid white; */
  filter: invert(0%);
  color: black;
  background-color: white;
  /* background-image: var(--svg); */
  /* border: 0px; */
  image-rendering: pixelated;
  background-repeat: no-repeat !important;
  background-size: 32px !important; 
}

label.icon:hover,
button.icon:hover {
  /* filter: invert(100%); */
  filter: invert(100%);
}

.download-file { 
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFRJREFUOE9jZKAQMOLR/x9NDqvaYWYAup8JBS/Y++hhQKwhcH3YApGQISh6cMUCLkMw1NM0GkFhBHMJTovwuYBQLIDlYQYQCjhchjEOHgOI8i82RQAMrA0Ra9ZmhQAAAABJRU5ErkJggg==);
}

.add-layer {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHRJREFUOE/tU0kOgDAIZP7/aMxEIRQB68GbvbUpswFQVZWXB4BYGT4BIANPFmfvUfCiIBdOQIuF7qMxVcAOcCrdyzGG5+AEsEsHFL3fciF9DsflXWFOBIzbLVQpx25sW+i6Ubb2tyDlKOflnAat3Man0Y4EB5KnkNQWUkqBAAAAAElFTkSuQmCC);
}

.layer-up {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGlJREFUOE+1kkEOwCAIBN3/P5pGow0iLEZbr7iD4EBEpFwcMACAhmY9QsAIj8dFEBdgwwyyAKJwBKE72Nntv4DjX7BBBppGyDp69RdQi7tS6rsTIJWmm6ntdEewIGbl9yZqebKl1rvXIj2i3nLRI248kAAAAABJRU5ErkJggg==);
}


.layer-down {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGdJREFUOE/FklEOwCAIQ9f7HxqzJSzYseJiyPxFHvgqzMyOjQMFAHCh1YwUwI0KNAGqiVn9BpzFVR3x7gRwl28g3yB6SZ/AoNjIUqVETjfbrCfGL/9KbrACegBYWOWhT6KKLm71fwoDlpFy0eaZiScAAAAASUVORK5CYII=);
}

.erase {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHBJREFUOE+lk1EKwCAMQ+P9D71RQelmmobN3/oeIdWBn2cY/AWgvNcJAl6H3lWCDJeSSsBgKmECBR+St8CBH5KvCbYkC/K6nCSTXQK2a6vIKsGK2K6SlaiKPTqrSnTEM6V6SDGT/0AJYtbCncD4qMAN13QUEZPMB8YAAAAASUVORK5CYII=);
}